
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="../images/cloud.png" type="image/png">
</head>
<body>

  {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main-content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                    <div class="flexbox">
                        <div class="TempInfo_left">
                             <img src="images/search.png" alt="search-img" class="search-img">
                        </div>
                    
                    {{!-- Right Side Info --}}
                    <div class="TempInfo_right">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_data">13 Oct</p>
                        </div>

                        <div class="main_layer"> 
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="tem_real_val">0</span> <sup>o</sup>C</p>
                                <p id="temp_status"> <i class="fa fa-cloud"></i> </p>
                            </div>
                        </div>
                    </div>
                    </div>
                    

                </div>

            </div>
        </div>
    </div>

    <!-- Footer Section -->

    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
           let weekday = new Array(7);

           weekday[0] = "Sunday";
           weekday[1] = "Monday";
           weekday[2] = "Tue";
           weekday[3] = "Wed";       
           weekday[4] = "Thursday";
           weekday[5] = "Friday";
           weekday[6] = "Saturday";

           let currentTime = new Date();
           let days = weekday[currentTime.getDay()];

           let day = document.getElementById("day")
           
           day.innerText = days;
        };

    const getCurrentDate = () => {
    var months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "June",
    "July",
    "Aug",
    "Sept",
    "Oct",
    "Nov",
    "Dec",
    ];
     
    let today_data = document.getElementById("today_data")

    var now = new Date();
    var month = months[now.getMonth()];
    var date = now.getDate();

    today_data.innerText = `${date} ${month}`;
    

    };

    getCurrentDay();
    getCurrentDate();
       
    </script>
</body>
</html>